body {
   background-image: linear-gradient(to right, darkgoldenrod, peru, sandybrown, salmon, orchid );
}
.blanks {
    display: grid;
    grid-template-columns: 200px;
    text-align: center;
   align-items: center;
   justify-content: center;
}
h1 {
    text-align: center;
    font-family: cursive;
}
p {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    font-weight:bolder;
    font-size: larger;
    text-decoration: underline;
}
.button {
    text-align: center;
}